<main class="flex justify-center flex-wrap">
  <header class="w-full">
    <h2 class="m-auto block w-fit">{{ recentYear }}</h2>
  </header>
  <section class="" *ngFor="let day of cards">
    <ng-container *ngIf="cardContents[day]">
      <app-card
        [day]="day"
        [recentYear]="recentYear"
        [languages]="languages"
        [logos]="avaiableSolutions[day]"
        [title]="inputData[day]"
        [cardContents]="cardContents[day]"
      />
    </ng-container>
  </section>
</main>
