<div class="wrapper flex gap-6 mt-20">
    <section
        class="m-auto before:content-[''] relative min-h-[400px] w-[240px] before:animate-placeholder-shimmer-animation before:bg-gradient-to-r from-transparent via-white to-transparent before:absolute before:w-full before:h-full before:z-10 overflow-hidden mt-1">
        <div class="faux-summary">
            <div class="faux-code bg-gray-300 h-4 rounded mb-1 w-12/12"></div>
            <hr class="border-t-2 border-gray-300 mb-1">
            <div class="faux-code-short bg-gray-300 h-4 rounded mb-1 w-10/12"></div>
            <div class="faux-code-short bg-gray-300 h-4 rounded mb-1 w-8/12"></div>
            <div class="faux-code-short bg-gray-300 h-4 rounded mb-1 w-9/12"></div>
        </div>
        <div class="faux-code bg-gray-300 h-4 rounded mb-1 w-12/12"></div>
        <div class="faux-code-short bg-gray-300 h-4 rounded mb-1 w-10/12"></div>
        <div class="faux-code-short bg-gray-300 h-4 rounded mb-1 w-8/12"></div>
        <div class="faux-code-short bg-gray-300 h-4 rounded mb-1 w-9/12"></div>
        <div class="faux-image-wrapper">
            <div class="faux-image">
            </div>
        </div>
        <ul class="faux-languages">
            <div class="faux-image-wrapper">
                <div class="faux-image">
                </div>
            </div>
            <div class="faux-image-wrapper">
                <div class="faux-image">
                </div>
            </div>
            <div class="faux-image-wrapper">
                <div class="faux-image">
                </div>
            </div>
        </ul>
    </section>

    <section
        class="m-auto before:content-[''] relative min-h-[400px] w-[240px] before:animate-placeholder-shimmer-animation before:bg-gradient-to-r from-transparent via-white to-transparent before:absolute before:w-full before:h-full before:z-10 overflow-hidden mt-1">
        <div class="faux-summary">
            <div class="faux-code bg-gray-300 h-4 rounded mb-1 w-12/12"></div>
            <hr class="border-t-2 border-gray-300 mb-1">
            <div class="faux-code-short bg-gray-300 h-4 rounded mb-1 w-10/12"></div>
            <div class="faux-code-short bg-gray-300 h-4 rounded mb-1 w-8/12"></div>
            <div class="faux-code-short bg-gray-300 h-4 rounded mb-1 w-9/12"></div>
        </div>
        <div class="faux-code bg-gray-300 h-4 rounded mb-1 w-12/12"></div>
        <div class="faux-code-short bg-gray-300 h-4 rounded mb-1 w-10/12"></div>
        <div class="faux-code-short bg-gray-300 h-4 rounded mb-1 w-8/12"></div>
        <div class="faux-code-short bg-gray-300 h-4 rounded mb-1 w-9/12"></div>
        <div class="faux-image-wrapper">
            <div class="faux-image">
            </div>
        </div>
        <ul class="faux-languages">
            <div class="faux-image-wrapper">
                <div class="faux-image">
                </div>
            </div>
            <div class="faux-image-wrapper">
                <div class="faux-image">
                </div>
            </div>
            <div class="faux-image-wrapper">
                <div class="faux-image">
                </div>
            </div>
        </ul>
    </section>
    <section
        class="m-auto before:content-[''] relative min-h-[400px] w-[240px] before:animate-placeholder-shimmer-animation before:bg-gradient-to-r from-transparent via-white to-transparent before:absolute before:w-full before:h-full before:z-10 overflow-hidden mt-1">
        <div class="faux-summary">
            <div class="faux-code bg-gray-300 h-4 rounded mb-1 w-12/12"></div>
            <hr class="border-t-2 border-gray-300 mb-1">
            <div class="faux-code-short bg-gray-300 h-4 rounded mb-1 w-10/12"></div>
            <div class="faux-code-short bg-gray-300 h-4 rounded mb-1 w-8/12"></div>
            <div class="faux-code-short bg-gray-300 h-4 rounded mb-1 w-9/12"></div>
        </div>
        <div class="faux-code bg-gray-300 h-4 rounded mb-1 w-12/12"></div>
        <div class="faux-code-short bg-gray-300 h-4 rounded mb-1 w-10/12"></div>
        <div class="faux-code-short bg-gray-300 h-4 rounded mb-1 w-8/12"></div>
        <div class="faux-code-short bg-gray-300 h-4 rounded mb-1 w-9/12"></div>
        <div class="faux-image-wrapper">
            <div class="faux-image">
            </div>
        </div>
        <ul class="faux-languages">
            <div class="faux-image-wrapper">
                <div class="faux-image">
                </div>
            </div>
            <div class="faux-image-wrapper">
                <div class="faux-image">
                </div>
            </div>
            <div class="faux-image-wrapper">
                <div class="faux-image">
                </div>
            </div>
        </ul>
    </section>
</div>